<div class="registration-form">
    <%= form_with url: sign_in_path do |form| %>
        <h1 class="text-center">Sign In</h1>
        <div class="form-icon"></div>

        <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control item", placeholder: "name@example.com" %>
        </div>
        <div class="form-group">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control item", placeholder: "password" %>
        </div>

        <div class="form-group mx-auto">
            <%= form.submit "Sign In", class: "btn btn-primary me-2" %>
            <%= link_to "Sign Up", sign_up_path, class: "btn btn-outline-secondary me-2" %>
            <%= link_to "Forgot your password?", password_reset_path, class: "ms-auto btn-link" %>
        </div>
    <% end %>
</div>
