<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.select(:status, ['public', 'private', 'archived'], {}, { :class => "form-control item form-select" }) %>
  </div>

  <div class="form-group">
    <%= form.label :commenter %>
    <%= form.text_field :commenter, class: "form-control item" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_field :body, class: "form-control item" %>
  </div>

  <div class="form-group mx-auto mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>