<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h6>

      <div class="alert alert-danger">
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image, 'Image' %> <br>
    <%= form.file_field :image, class: "form-control item form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select(:status, ['public', 'private', 'archived'], {}, { :class => "form-control item form-select" }) %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control item" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control item" %>
  </div>

  <div class="form-group mx-auto mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
<% end %>
